/* Fundo do modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.conteudo {
    background: #2b4159;
    padding: 30px 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.25s ease;
}

.conteudo h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.conteudo p {
    color: #d7d7d7;
    margin-bottom: 25px;
    font-size: 0.95rem;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cancelar,
.confirmar {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.cancelar {
    background: #e5e7eb;
    color: #374151;
}

.cancelar:hover {
    background: #d1d5db;
}

.confirmar {
    background: #ef4444;
    color: white;
}

.confirmar:hover {
    background: #dc2626;
}

.btn-excluir,
.viz-funcionario {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: #ef4444;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 50px;
}

.viz-funcionario {
    background-color: rgb(65, 133, 206);
}

.viz-funcionario:hover {
    transform: scale(1.1);
}

.btn-excluir:hover {
    transform: scale(1.1);
}

.acoes-linha {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

