* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-image: url(/LandingPage/assets/fundoErro.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed; 
}

.erro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  max-width: 1000px;
}

h1 {
  font-size: 12rem;
  font-weight: 700;
  color: #4f6c94;
  letter-spacing: 2px;
}

 h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4f6c94;
}

 p {
  font-size: 1rem;
  color: rgb(192, 192, 192);
  margin: 0.5rem 0 1.5rem;
}

.btn-voltar {
  display: inline-block;
  background: var(--azul-principal);
  color: #fff;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-voltar:hover {
  background: #2563eb;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  h1{
    font-size: 6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}
